.container {
	max-width: 100%;
	width: 1200px;
	padding: 100px 0px;
	margin: 0 auto;
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 4rem;
	text-align: center;
	z-index: 5;

	@media only screen and (max-width: 1200px) {
		padding: 80px 40px;
	}

	@media only screen and (max-width: 960px) {
	}

	@media only screen and (max-width: 768px) {
	}

	@media only screen and (max-width: 480px) {
		width: 100%;
		padding: 80px 32px;
		gap: 1rem;
	}
}
