@page "/ia"

<PageTitle>SetState • Inteligência Artificial</PageTitle>
<div class="service-styles">
    <!-- Banner-->
    <section class="banner--service">
        <div class="container">
            <div class="tittle--banner-page">
                <span>Transforme desafios em oportunidades </span>
                <h1>Elevando o seu negócio com IA!</h1>
            </div>
        </div>
        <div class="video--frame">
            <video autoplay muted loop>
                <source src="./assets/video/pexels-google.mp4"
                        type="video/mp4" />
            </video>
        </div>
    </section>

    <section class="service--content">
        <div class="container">
            <p>
                Em um mundo movido pela inovação, o desenvolvimento de
                sistemas utilizando Inteligência Artificial (IA) não é
                apenas uma opção, é uma necessidade imperativa para
                permanecer à frente da concorrência. Estamos aqui para
                oferecer soluções de ponta que não apenas atendem, mas
                superam suas expectativas.
            </p>
            <img src="./assets/img/IA-destaque.png" alt="" />
        </div>
    </section>

    <section class="service--info">
        <div class="container">
            <div class="title--center">
                <h2>Sistemas Impulsionados por IA</h2>
                <p>
                    Descubra como nossa expertise em IA pode transformar sua
                    visão em um sistema inteligente e avançado.
                </p>
            </div>
            <div class="service--cards">
                <div class="service--card">
                    <img src="./assets/icons/IA/ia-1.svg" alt="" />
                    <h3>Tomada de Decisão Estratégica</h3>
                    <p>
                        Com algoritmos avançados de IA, nosso
                        desenvolvimento de sistemas capacita sua empresa com
                        insights precisos e orientados por dados. Tome
                        decisões estratégicas fundamentadas, identificando
                        padrões e tendências que podem passar despercebidos
                        de outra forma.
                    </p>
                </div>
                <div class="service--card">
                    <img src="./assets/icons/IA/ia-2.svg" alt="" />
                    <h3>Eficiência Operacional Aprimorada</h3>
                    <p>
                        Automatize tarefas repetitivas e libere recursos
                        valiosos para focar em atividades mais estratégicas.
                        Nossos sistemas de IA otimizam processos internos,
                        aumentando a eficiência operacional e permitindo que
                        sua equipe se concentre em iniciativas mais
                        impactantes.
                    </p>
                </div>
                <div class="service--card">
                    <img src="./assets/icons/IA/ia-3.svg" alt="" />
                    <h3>Personalização Excepcional</h3>
                    <p>
                        Crie experiências personalizadas para seus usuários.
                        Utilizando IA, nossos sistemas analisam o
                        comportamento do usuário em tempo real, adaptando-se
                        continuamente para fornecer conteúdo, produtos ou
                        serviços altamente relevantes e personalizados.
                    </p>
                </div>
                <div class="service--card">
                    <img src="./assets/icons/IA/ia-4.svg" alt="" />
                    <h3>Segurança Inteligente</h3>
                    <p>
                        Proteja seus dados com uma abordagem proativa à
                        segurança. Nossos sistemas de IA detectam padrões
                        suspeitos, identificam ameaças potenciais e
                        respondem rapidamente, garantindo a integridade e
                        confidencialidade dos seus dados.
                    </p>
                </div>
                <div class="service--card">
                    <img src="./assets/icons/IA/ia-5.svg" alt="" />
                    <h3>Suporte ao Cliente Avançado</h3>
                    <p>
                        Ofereça suporte ao cliente excepcional com sistemas
                        de IA capazes de entender e responder às
                        necessidades dos usuários. Chatbots inteligentes,
                        assistentes virtuais e sistemas de atendimento ao
                        cliente alimentados por IA elevam a qualidade do
                        atendimento, 24 horas por dia, 7 dias por semana.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="service--highlight">
        <div class="container">
            <div class="highlight--content">
                <h3>
                    Por que Escolher Nossos Serviços de Desenvolvimento de
                    Sistemas com IA
                </h3>
                <p>
                    Não se contente com sistemas tradicionais. Eleve sua
                    empresa para o próximo nível com nossos serviços de
                    desenvolvimento de sistemas impulsionados por IA.
                    Transforme desafios em oportunidades e prepare-se para
                    uma revolução digital.
                </p>
                <a href="/contato" class="btn--hero-medium">
                    Entre em contato
                    <img src="./assets/arrow.svg" alt="" />
                </a>
            </div>
            <div class="highlight--box">
                <div class="highlight--item">
                    <div class="header--item">
                        <div class="highlight--img">
                            <img src="./assets/icons/IA/h-1.svg" alt="" />
                        </div>
                        <h4>Expertise em IA</h4>
                    </div>
                    <p>
                        Contamos com uma equipe especializada em IA, com
                        vasta experiência em implementar soluções
                        inovadoras.
                    </p>
                </div>
                <div class="highlight--item">
                    <div class="header--item">
                        <div class="highlight--img">
                            <img src="./assets/icons/IA/h-2.svg" alt="" />
                        </div>
                        <h4>Colaboração Personalizada</h4>
                    </div>
                    <p>
                        Trabalhamos de perto com você para entender suas
                        metas e necessidades específicas, personalizando
                        soluções que impulsionam seu negócio.
                    </p>
                </div>
                <div class="highlight--item">
                    <div class="header--item">
                        <div class="highlight--img">
                            <img src="./assets/icons/IA/h-3.svg" alt="" />
                        </div>
                        <h4>Inovação Contínua</h4>
                    </div>
                    <p>
                        Mantemo-nos na vanguarda das últimas tendências em
                        IA, garantindo que seus sistemas estejam sempre à
                        frente do jogo.
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>
@code {

}
