@page "/"

<PageTitle>Index</PageTitle>

<div class="home-styles">
    <!-- Banner primeira dobra -->
    <section class="banner--hero">
        <div class="container">
            <div class="title--full">
                <h1>Somos o parceiro certo para seus projetos digitais!</h1>
                <p>
                    Saiba como podemos te ajudar a potencializar sua área de
                    TI com UI/UX, arquitetura de software, cloud,
                    desenvolvimento web e mobile, IOT e muito mais!
                </p>
            </div>
            <a href="/contato" class="btn--hero">
                Saiba mais
                <img src="./assets/arrow.svg" alt="" />
            </a>
        </div>
        <div class="video--frame">
            <video autoplay muted loop>
                <source src="./assets/video/pexels-google.mp4"
                        type="video/mp4" />
            </video>
        </div>
    </section>

    <!-- Serviços -->
    <section id="services">
        <div class="container">
            <div class="title--center">
                <h2>O que fazemos</h2>
                <p>
                    Atuamos em diferentes frentes para entregar projetos
                    digitais completos com alta qualidade.
                </p>
            </div>
            <div class="tabmenu">
                <div class="tabmenu--header swiper">
                    <div class="swiper-wrapper">
                        <button class="swiper-slide tab-button tab-active">
                            <img src="./assets/icons/tab-web.svg" alt="" />
                            <span>Web</span>
                        </button>
                        <button class="swiper-slide tab-button">
                            <img src="./assets/icons/tab-mobile.svg"
                                 alt="" />
                            <span>Mobile</span>
                        </button>
                        <button class="swiper-slide tab-button">
                            <img src="./assets/icons/tab-iot.svg" alt="" />
                            <span>IOT</span>
                        </button>
                        <button class="swiper-slide tab-button">
                            <img src="./assets/icons/tab-ia.svg" alt="" />
                            <span>IA</span>
                        </button>
                    </div>
                </div>
                <!-- Web -->
                <div class="tabmenu--content active">
                    <div class="tabmenu--content-img">
                        <img src="./assets/img/Web.png" alt="" />
                    </div>
                    <div class="tabmenu--content-content">
                        <h3>Web</h3>
                        <p>
                            Seja para impulsionar o seu negócio, otimizar
                            processos ou criar experiências cativantes para
                            os seus usuários, o desenvolvimento de
                            aplicações web é a chave para o sucesso digital
                            nos dias de hoje. Estamos aqui para oferecer
                            soluções personalizadas que não apenas atendem,
                            mas superam suas expectativas.
                        </p>
                        <ul>
                            <li>
                                <div class="check--icon">
                                    <img src="./assets/icons/icon-check.svg"
                                         alt="" />
                                </div>

                                <p>Desenvolvimento personalizado</p>
                            </li>
                            <li>
                                <div class="check--icon">
                                    <img src="./assets/icons/icon-check.svg"
                                         alt="" />
                                </div>

                                <p>Experiência do usuário aprimorada</p>
                            </li>
                        </ul>
                        <a href="./web.html" class="btn--hero-medium">
                            Saiba mais
                            <img src="./assets/arrow.svg" alt="" />
                        </a>
                    </div>
                </div>
                <!-- Mobile -->
                <div class="tabmenu--content">
                    <div class="tabmenu--content-img">
                        <img src="./assets/img/Mobile.png" alt="" />
                    </div>
                    <div class="tabmenu--content-content">
                        <h3>Mobile</h3>
                        <p>
                            No mundo acelerado de hoje, a presença móvel é
                            essencial para o sucesso dos negócios. Seja para
                            engajar seus clientes, otimizar processos
                            internos ou inovar no mercado, nossos serviços
                            de desenvolvimento de aplicativos móveis estão
                            aqui para levar sua visão além dos limites.
                        </p>
                        <ul>
                            <li>
                                <div class="check--icon">
                                    <img src="./assets/icons/icon-check.svg"
                                         alt="" />
                                </div>

                                <p>
                                    Personalização de Aplicações para Seu
                                    Público-Alvo
                                </p>
                            </li>
                            <li>
                                <div class="check--icon">
                                    <img src="./assets/icons/icon-check.svg"
                                         alt="" />
                                </div>

                                <p>
                                    Design Intuitivo e Experiência do
                                    Usuário Impecável
                                </p>
                            </li>
                        </ul>
                        <a href="./mobile.html" class="btn--hero-medium">
                            Saiba mais
                            <img src="./assets/arrow.svg" alt="" />
                        </a>
                    </div>
                </div>
                <!-- IOT -->
                <div class="tabmenu--content">
                    <div class="tabmenu--content-img">
                        <img src="./assets/img/IOT.png" alt="" />
                    </div>
                    <div class="tabmenu--content-content">
                        <h3>IOT</h3>
                        <p>
                            Na era da conectividade onipresente, a Internet
                            das Coisas (IoT) se destaca como a chave para
                            desbloquear o potencial máximo do seu negócio.
                            Imagine um mundo onde seus dispositivos,
                            sistemas e processos trabalham em perfeita
                            harmonia, impulsionando a eficiência, a
                            produtividade e a inovação.
                        </p>
                        <ul>
                            <li>
                                <div class="check--icon">
                                    <img src="./assets/icons/icon-check.svg"
                                         alt="" />
                                </div>

                                <p>Logística e Cadeia de Suprimentos</p>
                            </li>
                            <li>
                                <div class="check--icon">
                                    <img src="./assets/icons/icon-check.svg"
                                         alt="" />
                                </div>

                                <p>Varejo Inteligente (Smart Retail)</p>
                            </li>
                        </ul>
                        <a href="./iot.html" class="btn--hero-medium">
                            Saiba mais
                            <img src="./assets/arrow.svg" alt="" />
                        </a>
                    </div>
                </div>
                <!-- IA -->
                <div class="tabmenu--content">
                    <div class="tabmenu--content-img">
                        <img src="./assets/img/IA.png" alt="" />
                    </div>
                    <div class="tabmenu--content-content">
                        <h3>IA</h3>
                        <p>
                            Em um mundo movido pela inovação, o
                            desenvolvimento de sistemas utilizando
                            Inteligência Artificial (IA) não é apenas uma
                            opção, é uma necessidade imperativa para
                            permanecer à frente da concorrência. Estamos
                            aqui para oferecer soluções de ponta que não
                            apenas atendem, mas superam suas expectativas.
                        </p>
                        <ul>
                            <li>
                                <div class="check--icon">
                                    <img src="./assets/icons/icon-check.svg"
                                         alt="" />
                                </div>

                                <p>Desenvolvimento personalizado</p>
                            </li>
                            <li>
                                <div class="check--icon">
                                    <img src="./assets/icons/icon-check.svg"
                                         alt="" />
                                </div>

                                <p>Experiência do usuário aprimorada</p>
                            </li>
                        </ul>
                        <a href="./ia.html" class="btn--hero-medium">
                            Saiba mais
                            <img src="./assets/arrow.svg" alt="" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Como fazemos -->
    <section id="service-steps">
        <div class="container">
            <div class="title--horizontal">
                <h2>Como fazemos</h2>
                <p>
                    Nossa metodologia ágil, otimiza o desenvolvimento de
                    soluções e convida o cliente para fazer parte de toda a
                    jornada.
                </p>
            </div>
            <div class="service--cards">
                <div class="service-card">
                    <img src="./assets/icons/serv-Definições.svg" alt="" />
                    <h4>Definições</h4>
                    <p>
                        Estudamos o problema que pretendemos resolver e
                        levantamos possíveis soluções e resultados que
                        desejamos alcançar.
                    </p>
                </div>
                <div class="service-card">
                    <img src="./assets/icons/serv-Prototipagem.svg"
                         alt="" />
                    <h4>Prototipagem</h4>
                    <p>
                        Transformamos ideias em protótipos tangíveis,
                        permitindo testes e refinamentos antes da
                        implementação.
                    </p>
                </div>
                <div class="service-card">
                    <img src="./assets/icons/serv-Desenvolvimento.svg"
                         alt="" />
                    <h4>Desenvolvimento</h4>
                    <p>
                        Criamos soluções robustas e eficientes, utilizando
                        tecnologias de ponta para alcançar seus objetivos.
                    </p>
                </div>
                <div class="service-card">
                    <img src="./assets/icons/serv-Evolução.svg" alt="" />
                    <h4>Evolução</h4>
                    <p>
                        Atualizamos e aprimoramos suas soluções, garantindo
                        que estejam alinhadas com suas necessidades.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Sobre -->
    <section id="about">
        <div class="container">
            <div class="about--content">
                <h2 class="title--simple">Sobre a SetState</h2>
                <p>
                    A SetState é mais do que uma empresa de tecnologia.
                    Somos um parceiro de confiança que te ajuda a alcançar
                    seus objetivos por meio de soluções inovadoras e
                    personalizadas. Nosso compromisso é com a excelência e o
                    desenvolvimento sustentável. Acreditamos que a
                    tecnologia deve ser usada para melhorar a vida das
                    pessoas e do planeta.
                </p>
                <a href="/sobrenos" class="btn--hero-outline">
                    Conheça nossa história
                    <img src="./assets/arrow.svg" alt="" />
                </a>
            </div>
            <div class="about--cards">
                <div class="about--card">
                    <img src="./assets/icons/about-foguete.svg" alt="" />
                    <p>+<span>5</span> Anos de experiência</p>
                </div>
                <div class="about--card">
                    <img src="./assets/icons/about-projeto.svg" alt="" />
                    <p>+<span>55</span> Projetos desenvolvidos</p>
                </div>
                <div class="about--card">
                    <img src="./assets/icons/about-team.svg" alt="" />
                    <p>+<span>9</span> Especialistas em tecnologia</p>
                </div>
                <div class="about--card">
                    <img src="./assets/icons/about-satisfação.svg" alt="" />
                    <p>+<span>99</span> Clientes satisfeitos</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Parceiros -->
    <section id="partners">
        <div class="container">
            <div class="title--horizontal">
                <h2>Nossos parceiros</h2>
                <p>
                    Alianças centradas no cliente: Descubra como nossa
                    abordagem personalizada se adapta perfeitamente às
                    necessidades específicas de cada parceiro.
                </p>
            </div>

            <div class="partners--content">
                <img src="./assets/img/logo Parceiro 0.jpg" alt="" />
                <img src="./assets/img/logo Parceiro 0.jpg" alt="" />
                <img src="./assets/img/logo Parceiro 0.jpg" alt="" />
                <img src="./assets/img/logo Parceiro 0.jpg" alt="" />
                <img src="./assets/img/logo Parceiro 0.jpg" alt="" />
                <img src="./assets/img/logo Parceiro 0.jpg" alt="" />
            </div>
        </div>
    </section>

    <!-- Clientes -->
    <section id="clients">
        <div class="container">
            <div class="title--center">
                <h2>Onde estamos</h2>
                <p>Empresas que já utilizaram nossos sistemas.</p>
            </div>
        </div>
        <div class="swiper swipe--clients">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="./assets/img/logo Cliente 0.jpg" alt="" />
                </div>
                <div class="swiper-slide">
                    <img src="./assets/img/logo Cliente 0.jpg" alt="" />
                </div>
                <div class="swiper-slide">
                    <img src="./assets/img/logo Cliente 0.jpg" alt="" />
                </div>
                <div class="swiper-slide">
                    <img src="./assets/img/logo Cliente 0.jpg" alt="" />
                </div>
                <div class="swiper-slide">
                    <img src="./assets/img/logo Cliente 0.jpg" alt="" />
                </div>
                <div class="swiper-slide">
                    <img src="./assets/img/logo Cliente 0.jpg" alt="" />
                </div>
                <div class="swiper-slide">
                    <img src="./assets/img/logo Cliente 0.jpg" alt="" />
                </div>
                <div class="swiper-slide">
                    <img src="./assets/img/logo Cliente 0.jpg" alt="" />
                </div>
            </div>
        </div>
    </section>

    <!-- CTA -->
    <div class="container cta--container">
        <h2>Tem algum projeto para nós?</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Suspendisse pretium, sapien eu mollis convallis, felis tellus
            dignissim felis, id molestie est lorem nec nunc. Quisque
            imperdiet erat quis.
        </p>
        <a href="/contato" class="btn--hero-medium">
            Saiba mais
            <img src="./assets/arrow.svg" alt="" />
        </a>
    </div>

    <!-- Mapa -->
    <div class="map--container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.017065571664!2d-46.6506680239141!3d-23.567830561831325!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59becf89e4df%3A0x49adf2faace821b2!2sAv.%20Paulista%2C%20500%20-%20Bela%20Vista%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2001323-030!5e0!3m2!1spt-BR!2sbr!4v1715625226741!5m2!1spt-BR!2sbr"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>