@page "/iot"

<PageTitle>SetState • IOT</PageTitle>
<div class="service-styles">

    <!-- Banner-->
    <section class="banner--service">
        <div class="container">
            <div class="tittle--banner-page">
                <span>Alcançar novos patamares de sucesso.</span>
                <h1>Transforme seu negócio hoje com soluções de IoT</h1>
            </div>
        </div>
        <div class="video--frame">
            <video autoplay muted loop>
                <source src="./assets/video/pexels-google.mp4"
                        type="video/mp4" />
            </video>
        </div>
    </section>

    <section class="service--content">
        <div class="container">
            <p>
                Na era da conectividade onipresente, a Internet das Coisas
                (IoT) se destaca como a chave para desbloquear o potencial
                máximo do seu negócio. Imagine um mundo onde seus
                dispositivos, sistemas e processos trabalham em perfeita
                harmonia, impulsionando a eficiência, a produtividade e a
                inovação.
            </p>
            <img src="./assets/img/IOT-destaque.png" alt="" />
        </div>
    </section>

    <section class="service--info">
        <div class="container">
            <div class="title--center">
                <h2>Aplique IoT para inovar seu negócio</h2>
                <p>
                    Com nossas soluções de IoT personalizadas, esse mundo
                    está ao seu alcance.
                </p>
            </div>
            <div class="service--cards">
                <div class="service--card">
                    <img src="./assets/icons/IOT/iot-1.svg" alt="" />
                    <h3>Logística e Cadeia de Suprimentos</h3>
                    <p>
                        A IoT é aplicada para rastrear a localização de
                        mercadorias, monitorar condições de transporte (como
                        temperatura e umidade), otimizar rotas de entrega e
                        melhorar a eficiência da cadeia de suprimentos.
                    </p>
                </div>
                <div class="service--card">
                    <img src="./assets/icons/IOT/iot-2.svg" alt="" />
                    <h3>Varejo Inteligente (Smart Retail)</h3>
                    <p>
                        Sensores e câmeras IoT são usados para rastrear o
                        comportamento do cliente, otimizar a gestão de
                        estoques, personalizar ofertas e melhorar a
                        experiência de compra.
                    </p>
                </div>
                <div class="service--card">
                    <img src="./assets/icons/IOT/iot-3.svg" alt="" />
                    <h3>Agricultura Inteligente (Smart Agriculture)</h3>
                    <p>
                        Sensores agrícolas, drones e dispositivos conectados
                        são usados para monitorar as condições do solo,
                        gerenciar a irrigação, rastrear animais, otimizar a
                        colheita e melhorar a eficiência agrícola.
                    </p>
                </div>
                <div class="service--card">
                    <img src="./assets/icons/IOT/iot-4.svg" alt="" />
                    <h3>Indústria 4.0</h3>
                    <p>
                        A IoT é amplamente aplicada na indústria para
                        monitorar ativos, otimizar processos de fabricação,
                        prever falhas em máquinas, rastrear a cadeia de
                        suprimentos e melhorar a eficiência operacional.
                    </p>
                </div>
                <div class="service--card">
                    <img src="./assets/icons/IOT/iot-5.svg" alt="" />
                    <h3>Energia e Sustentabilidade</h3>
                    <p>
                        A IoT é usada para otimizar a distribuição de
                        energia, gerenciar redes elétricas, monitorar o
                        consumo de energia em edifícios e promover práticas
                        sustentáveis.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="service--highlight">
        <div class="container">
            <div class="highlight--content">
                <h3>Por Que Nos Escolher para Suas Soluções de IoT</h3>
                <p>
                    Transforme seu negócio hoje com soluções de IoT sob
                    medida. Entre em contato conosco para uma consulta
                    gratuita e descubra como podemos ajudá-lo a alcançar
                    novos patamares de sucesso.
                </p>
                <a href="/contato" class="btn--hero-medium">
                    Entre em contato
                    <img src="./assets/arrow.svg" alt="" />
                </a>
            </div>
            <div class="highlight--box">
                <div class="highlight--item">
                    <div class="header--item">
                        <div class="highlight--img">
                            <img src="./assets/icons/web/h-1.svg" alt="" />
                        </div>
                        <h4>Personalização</h4>
                    </div>
                    <p>
                        Cada negócio é único, e nossas soluções de IoT são
                        projetadas especificamente para atender às suas
                        necessidades exclusivas.
                    </p>
                </div>
                <div class="highlight--item">
                    <div class="header--item">
                        <div class="highlight--img">
                            <img src="./assets/icons/web/h-2.svg" alt="" />
                        </div>
                        <h4>Inovação Contínua</h4>
                    </div>
                    <p>
                        Estamos na vanguarda da tecnologia de IoT,
                        garantindo que você tenha acesso às últimas
                        inovações e tendências do setor.
                    </p>
                </div>
                <div class="highlight--item">
                    <div class="header--item">
                        <div class="highlight--img">
                            <img src="./assets/icons/web/h-3.svg" alt="" />
                        </div>
                        <h4>Suporte Excepcional</h4>
                    </div>
                    <p>
                        Nossa equipe de especialistas em IoT está sempre
                        disponível para oferecer suporte e assistência,
                        garantindo que sua experiência conosco seja perfeita
                        do início ao fim.
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>
@code {

}
