@page "/mobile"

<PageTitle>SetState • Desenvolvimento Mobile</PageTitle>
<div class="service-styles">
    <!-- Banner-->
    <section class="banner--service">
        <div class="container">
            <div class="tittle--banner-page">
                <span>Conquiste o Mundo Móvel</span>
                <h1>Aplicativos que cativam e transformam!</h1>
            </div>
        </div>
        <div class="video--frame">
            <video autoplay muted loop>
                <source src="./assets/video/pexels-google.mp4"
                        type="video/mp4" />
            </video>
        </div>
    </section>

    <section class="service--content">
        <div class="container">
            <p>
                No mundo acelerado de hoje, a presença móvel é essencial
                para o sucesso dos negócios. Seja para engajar seus
                clientes, otimizar processos internos ou inovar no mercado,
                nossos serviços de desenvolvimento de aplicativos móveis
                estão aqui para levar sua visão além dos limites.
            </p>
            <img src="./assets/img/Mobile-destaque.png" alt="" />
        </div>
    </section>

    <section class="service--info">
        <div class="container">
            <div class="title--center">
                <h2>Desenvolvimento Mobile</h2>
                <p>
                    Descubra como podemos transformar suas ideias em
                    experiências móveis envolventes e impactantes
                </p>
            </div>
            <div class="service--cards">
                <div class="service--card">
                    <img src="./assets/icons/mobile/mob-1.svg" alt="" />
                    <h3>
                        Personalização de Aplicações para Seu Público-Alvo
                    </h3>
                    <p>
                        Cada aplicativo que desenvolvemos é pensado para se
                        adequar perfeitamente ao seu público. Seja um
                        aplicativo B2C ou B2B, compreendemos as necessidades
                        específicas do seu público e personalizamos cada
                        detalhe para proporcionar uma experiência única.
                    </p>
                </div>
                <div class="service--card">
                    <img src="./assets/icons/mobile/mob-2.svg" alt="" />
                    <h3>
                        Design Intuitivo e Experiência do Usuário Impecável
                    </h3>
                    <p>
                        Colocamos a experiência do usuário em primeiro
                        lugar. Nossa equipe de design cria interfaces
                        intuitivas e atraentes, garantindo que os usuários
                        se envolvam de maneira natural e se sintam
                        conectados ao seu aplicativo desde o primeiro toque.
                    </p>
                </div>
                <div class="service--card">
                    <img src="./assets/icons/mobile/mob-3.svg" alt="" />
                    <h3>
                        Desenvolvimento Multiplataforma e Velocidade de
                        Lançamento
                    </h3>
                    <p>
                        Desenvolvemos aplicativos que funcionam
                        perfeitamente em diversas plataformas, alcançando um
                        público mais amplo. Além disso, nossa abordagem ágil
                        de desenvolvimento permite lançamentos rápidos,
                        mantendo-o à frente da concorrência e proporcionando
                        atualizações regulares para manter a relevância.
                    </p>
                </div>
                <div class="service--card">
                    <img src="./assets/icons/mobile/mob-4.svg" alt="" />
                    <h3>Integração de Recursos Inovadores</h3>
                    <p>
                        Desde realidade aumentada até integração com
                        dispositivos IoT, podemos incorporar recursos
                        inovadores para destacar seu aplicativo. Mantenha
                        seus usuários envolvidos e surpreenda-os com
                        funcionalidades que elevam a experiência móvel.
                    </p>
                </div>
                <div class="service--card">
                    <img src="./assets/icons/mobile/mob-5.svg" alt="" />
                    <h3>Segurança Robusta em Cada Etapa</h3>
                    <p>
                        A segurança dos dados é uma prioridade.
                        Implementamos medidas de segurança de última geração
                        para proteger a privacidade dos usuários e garantir
                        que seu aplicativo seja confiável e seguro.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="service--highlight">
        <div class="container">
            <div class="highlight--content">
                <h3>
                    Por que Escolher Nossos Serviços de Desenvolvimento de
                    Aplicativos Móveis
                </h3>
                <p>
                    Não apenas crie um aplicativo, crie uma experiência
                    memorável. Deixe-nos transformar sua visão em um
                    aplicativo móvel que não apenas atenda, mas supere as
                    expectativas. Conquiste o mundo móvel conosco.
                </p>
                <a href="/contato" class="btn--hero-medium">
                    Entre em contato
                    <img src="./assets/arrow.svg" alt="" />
                </a>
            </div>
            <div class="highlight--box">
                <div class="highlight--item">
                    <div class="header--item">
                        <div class="highlight--img">
                            <img src="./assets/icons/web/h-1.svg" alt="" />
                        </div>
                        <h4>Experiência Comprovada</h4>
                    </div>
                    <p>
                        Temos uma equipe talentosa de desenvolvedores com
                        vasta experiência em projetos bem-sucedidos.
                    </p>
                </div>
                <div class="highlight--item">
                    <div class="header--item">
                        <div class="highlight--img">
                            <img src="./assets/icons/web/h-2.svg" alt="" />
                        </div>
                        <h4>Colaboração Transparente</h4>
                    </div>
                    <p>
                        Trabalhamos de perto com você em todas as fases do
                        desenvolvimento, garantindo total transparência e
                        alinhamento com suas expectativas.
                    </p>
                </div>
                <div class="highlight--item">
                    <div class="header--item">
                        <div class="highlight--img">
                            <img src="./assets/icons/web/h-3.svg" alt="" />
                        </div>
                        <h4>Entrega Prazo a Prazo</h4>
                    </div>
                    <p>
                        Cumprimos prazos rigorosos para garantir que sua
                        aplicação esteja pronta para brilhar no momento
                        certo.
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>

@code {

}
