@page "/sobrenos"

<PageTitle>Sobre Nós</PageTitle>

<div class="about-styles">
    <!-- Banner -->
    <section class="banner--page">
        <div class="container">
            <div class="title--full">
                <h1>SetState</h1>
                <p>Tecnologia humanizada para impulsionar o seu negócio.</p>
            </div>
        </div>
        <div class="video--frame">
            <video autoplay muted loop>
                <source src="./assets/video/pexels-google.mp4"
                        type="video/mp4" />
            </video>
        </div>
    </section>

    <!-- Conteudo -->
    <section class="content--about">
        <div class="container">
            <div class="text--half">
                <h3>Sobre nós</h3>
                <p>
                    A SetState é uma empresa dedicada a inovações
                    tecnológicas, posicionando-se como sua parceira
                    confiável em soluções de tecnologia da informação.
                    Priorizamos o desenvolvimento humano, sustentabilidade e
                    proporcionamos um atendimento personalizado, atendendo
                    de forma única às necessidades específicas de cada
                    cliente. Estamos comprometidos em oferecer excelência e
                    impulsionar o sucesso de nossos parceiros por meio de
                    soluções tecnológicas diferenciadas e focadas no
                    desenvolvimento sustentável.
                </p>
            </div>
            <img src="./assets/img/about-1.png"
                 alt=""
                 class="highlight--img" />
            <img src="./assets/img/about-2.jpeg" alt="" />
            <div class="text--half">
                <p>
                    Na SetState, valorizamos a liderança, discernimento e
                    espírito de equipe para fortalecer relações internas e
                    alcançar resultados satisfatórios em todas as demandas.
                    Nosso compromisso com a produtividade e excelência
                    operacional se reflete em procedimentos e políticas
                    estruturadas, e assim proporcionar uma base sólida para
                    alinhar conhecimento, habilidades e recursos
                    disponíveis. Essa fundação robusta nos capacita a
                    formular estratégias eficazes e obter resultados
                    impactantes, destacando-nos no dinâmico setor em que
                    atuamos.
                </p>
            </div>
            <div class="text--full">
                <p>
                    Acreditamos que o verdadeiro avanço tecnológico deve ser
                    centrado nas pessoas. Investimos no desenvolvimento de
                    nossos colaboradores para que possam oferecer soluções
                    técnicas com uma abordagem humanizada. Valorizamos o
                    potencial único de cada membro de nossa equipe e
                    buscamos criar um ambiente que promova o crescimento
                    profissional e pessoal. Comprometemo-nos com a promoção
                    da diversidade, reconhecendo e respeitando os valores,
                    expectativas e visões de mundo distintas de nossos
                    colaboradores. Essa abordagem não apenas amplia nossa
                    perspectiva, mas também nutre um ambiente mais inclusivo
                    e dinâmico. O foco do nosso trabalho está na entrega da
                    qualidade que nossos clientes desejam, com base em suas
                    realidades individuais. Na SetState, rejeitamos modelos
                    pré-fabricados, e estamos a favor de uma abordagem
                    atenta e respeitosa em relação aos nossos parceiros.
                    Entendemos que a inovação surge da compreensão profunda
                    das necessidades específicas de cada cliente,
                    permitindo-nos desenvolver produtos e serviços que não
                    apenas atendem, mas superam expectativas.
                </p>
            </div>
            <div class="mvv--cards">
                <div class="mvv--card">
                    <div class="mvv--header">
                        <h4>Missão</h4>
                        <img src="./assets/mvv-1.svg" alt="" />
                    </div>
                    <p>
                        Nossa missão é ser o parceiro de confiança das
                        empresas que buscam inovações tecnológicas, através
                        da excelência e uso racional dos recursos. Nosso
                        compromisso é oferecer soluções alinhadas a
                        necessidades especificas de cada cliente.
                    </p>
                </div>
                <div class="mvv--card">
                    <div class="mvv--header">
                        <h4>Visão</h4>
                        <img src="./assets/mvv-2.svg" alt="" />
                    </div>
                    <p>
                        Nossa missão é ser o parceiro de confiança das
                        empresas que buscam inovações tecnológicas, através
                        da excelência e uso racional dos recursos. Nosso
                        compromisso é oferecer soluções alinhadas a
                        necessidades especificas de cada cliente.
                    </p>
                </div>
                <div class="mvv--card">
                    <div class="mvv--header">
                        <h4>Valores</h4>
                        <img src="./assets/mvv-3.svg" alt="" />
                    </div>
                    <p>
                        Inovação, Responsabilidade social, relações
                        humanizadas, busca por resultados, sustentabilidade.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="cta--highlight">
        <div class="container">
            <div class="highlight--content">
                <h3>
                    Entre em contato conosco hoje mesmo e saiba como a
                    SetState pode te ajudar a alcançar seus objetivos.
                </h3>
            </div>
            <a href="/contato" class="btn--hero-medium">
                Entre em contato
                <img src="./assets/arrow.svg" alt="" />
            </a>
        </div>
    </section>
</div>

@code {

}
