@page "/web"

<PageTitle>SetState • Desenvolvimento Web</PageTitle>

<div class="service-styles">
    <!-- Banner-->
    <section class="banner--service">
        <div class="container">
            <div class="tittle--banner-page">
                <span>Transforme Sua Visão em Realidade</span>
                <h1>Desenvolvimento de aplicações web sob medida!</h1>
            </div>
        </div>
        <div class="video--frame">
            <video autoplay muted loop>
                <source src="./assets/video/pexels-google.mp4"
                        type="video/mp4" />
            </video>
        </div>
    </section>

    <section class="service--content">
        <div class="container">
            <p>
                Seja para impulsionar o seu negócio, otimizar processos ou
                criar experiências cativantes para os seus usuários, o
                desenvolvimento de aplicações web é a chave para o sucesso
                digital nos dias de hoje. Estamos aqui para oferecer
                soluções personalizadas que não apenas atendem, mas superam
                suas expectativas.
            </p>
            <img src="./assets/img/Web-destaque.png" alt="" />
        </div>
    </section>

    <section class="service--info">
        <div class="container">
            <div class="title--center">
                <h2>Desenvolvimento de Aplicações Web</h2>
                <p>
                    Descubra como podemos transformar sua visão em uma
                    realidade online dinâmica e envolvente.
                </p>
            </div>
            <div class="service--cards">
                <div class="service--card">
                    <img src="./assets/icons/web/web-1.svg" alt="" />
                    <h3>Desenvolvimento Personalizado</h3>
                    <p>
                        Cada empresa é única, e suas necessidades digitais
                        também. Nosso serviço de desenvolvimento de
                        aplicações web é totalmente personalizado para se
                        alinhar perfeitamente com os seus objetivos. Seja
                        qual for a sua necessidade, criamos soluções sob
                        medida para o seu sucesso.
                    </p>
                </div>
                <div class="service--card">
                    <img src="./assets/icons/web/web-2.svg" alt="" />
                    <h3>Experiência do Usuário Aprimorada</h3>
                    <p>
                        Colocamos o usuário no centro de cada projeto.
                        Criamos interfaces intuitivas e experiências
                        envolventes para garantir que seus clientes se
                        sintam conectados e motivados a explorar o que sua
                        aplicação tem a oferecer. Cada clique é uma
                        oportunidade, e nós maximizamos esse potencial.
                    </p>
                </div>
                <div class="service--card">
                    <img src="./assets/icons/web/web-3.svg" alt="" />
                    <h3>Desempenho e Velocidade</h3>
                    <p>
                        Entendemos a importância de um desempenho ágil na
                        web. Nossas aplicações são otimizadas para
                        proporcionar uma experiência de usuário rápida e
                        eficiente, garantindo que seus visitantes permaneçam
                        envolvidos, independentemente do dispositivo que
                        estiverem utilizando.
                    </p>
                </div>
                <div class="service--card">
                    <img src="./assets/icons/web/web-4.svg" alt="" />
                    <h3>Segurança em Primeiro Lugar</h3>
                    <p>
                        A segurança é a nossa prioridade. Implementamos as
                        mais recentes práticas e protocolos de segurança
                        para proteger suas aplicações contra ameaças
                        cibernéticas. Mantenha seus dados e os de seus
                        clientes seguros com nossas soluções robustas de
                        segurança.
                    </p>
                </div>
                <div class="service--card">
                    <img src="./assets/icons/web/web-5.svg" alt="" />
                    <h3>Escalabilidade Garantida</h3>
                    <p>
                        À medida que o seu negócio cresce, suas aplicações
                        devem crescer junto. Desenvolvemos soluções
                        escaláveis que evoluem conforme suas necessidades,
                        garantindo que sua presença online seja tão dinâmica
                        quanto o seu sucesso.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="service--highlight">
        <div class="container">
            <div class="highlight--content">
                <h3>
                    Por que Escolher Nossos Serviços de Desenvolvimento de
                    Web
                </h3>
                <p>
                    Não se contente com o comum, aspire ao excepcional!
                    Transforme sua visão em uma aplicação web extraordinária
                    com nossos serviços de desenvolvimento personalizado.
                    Entre em contato hoje mesmo para iniciar a jornada rumo
                    ao sucesso digital!
                </p>
                <a href="/contato" class="btn--hero-medium">
                    Entre em contato
                    <img src="./assets/arrow.svg" alt="" />
                </a>
            </div>
            <div class="highlight--box">
                <div class="highlight--item">
                    <div class="header--item">
                        <div class="highlight--img">
                            <img src="./assets/icons/web/h-1.svg" alt="" />
                        </div>
                        <h4>Experiência Comprovada</h4>
                    </div>
                    <p>
                        Temos uma equipe talentosa de desenvolvedores com
                        vasta experiência em projetos bem-sucedidos.
                    </p>
                </div>
                <div class="highlight--item">
                    <div class="header--item">
                        <div class="highlight--img">
                            <img src="./assets/icons/web/h-2.svg" alt="" />
                        </div>
                        <h4>Colaboração Transparente</h4>
                    </div>
                    <p>
                        Trabalhamos de perto com você em todas as fases do
                        desenvolvimento, garantindo total transparência e
                        alinhamento com suas expectativas.
                    </p>
                </div>
                <div class="highlight--item">
                    <div class="header--item">
                        <div class="highlight--img">
                            <img src="./assets/icons/web/h-3.svg" alt="" />
                        </div>
                        <h4>Entrega Prazo a Prazo</h4>
                    </div>
                    <p>
                        Cumprimos prazos rigorosos para garantir que sua
                        aplicação esteja pronta para brilhar no momento
                        certo.
                    </p>
                </div>
            </div>
        </div>
    </section>

</div>

@code {

}
