<!-- Rodape -->
<footer>
    <div class="container">
        <div class="footer--container">
            <div class="footer--logo">
                <img src="./assets/img/LogoSetState Branco.png"
                     alt="" />
                <p>
                    Somos uma empresa de transformação digital e
                    desenvolvimento de software que tem inovação no DNA.
                </p>
            </div>
            <div class="footer--menu">
                <h4>Empresa</h4>
                <ul>
                    <li><a href="/sobrenos">A SetState</a></li>
                    <li>
                        <a href="/#service-steps">
                            Como fazemos
                        </a>
                    </li>
                    <li>
                        <a href="/#partners">Onde estamos</a>
                    </li>
                    @* <li>
                        <a href="./junte-se.html">Junte-se a nós</a>
                    </li> *@
                </ul>
            </div>
            <div class="footer--menu">
                <h4>Soluções</h4>
                <ul>
                    <li><a href="/web">Web</a></li>
                    <li><a href="/mobile">Mobile</a></li>
                    <li><a href="/iot">IoT</a></li>
                    <li><a href="/ia">Inteligência Atificial</a></li>
                </ul>
            </div>
            <div class="footer--menu">
                <h4>Contato</h4>
                <ul>
                    <li>
                        <img src="./assets/icons/CEL.svg" alt="" /><a href="/contato">(11) 99999-9999</a>
                    </li>
                    <li>
                        <img src="./assets/icons/@@.svg" alt="" /><a href="/contato">contato@setstate.com</a>
                    </li>
                    <li>
                        <img src="./assets/icons/Loc.svg" alt="" />
                        <a href="/contato">
                            Rua SetState, nº999 - Bairro <br />São
                            Carlos - SP
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer--copyright">
            <p>SetState 2024 @@ Todos direitos reservados</p>
        </div>
    </div>
</footer>

@code {

}
