

<!-- Rodape -->
		<footer>
			<div class="container">
				<div class="footer--container">
					<div class="footer--logo">
						<img
							src="./assets/img/LogoSetState Branco.png"
							alt=""
						/>
						<p>
							Somos uma empresa de transformação digital e
							desenvolvimento de software que tem inovação no DNA.
						</p>
					</div>
					<div class="footer--menu">
						<h4>Empresa</h4>
						<ul>
							<li><a href="/sobre.html">A SetState</a></li>
							<li>
								<a href="/index.html#service-steps">
									Como fazemos</a
								>
							</li>
							<li>
								<a href="./index.html#partners">Onde estamos</a>
							</li>
							<li>
								<a href="./junte-se.html">Junte-se a nós</a>
							</li>
						</ul>
					</div>
					<div class="footer--menu">
						<h4>Soluções</h4>
						<ul>
							<li><a href="./web.html">Web</a></li>
							<li><a href="./mobile.html">Mobile</a></li>
							<li><a href="./iot.html">IOT</a></li>
							<li><a href="./ia.html">IA</a></li>
						</ul>
					</div>
					<div class="footer--menu">
						<h4>Contato</h4>
						<ul>
							<li>
								<img src="./assets/icons/CEL.svg" alt="" /><a
									href=""
									>(11) 99999-9999</a
								>
							</li>
							<li>
								<img src="./assets/icons/@@.svg" alt="" /><a
									href=""
									>contato@setstate.com</a
								>
							</li>
							<li>
								<img src="./assets/icons/Loc.svg" alt="" />
								<a href=""
									>Rua SetState, nº999 - Bairro <br />São
									Carlos - SP</a
								>
							</li>
						</ul>
					</div>
				</div>
				<div class="footer--copyright">
					<p>SetState 2024 @@ Todos direitos reservados</p>
				</div>
			</div>
		</footer>

@code {

}
